@model RegisterViewModel
@{
    ViewBag.Title = "加入會員";
    ViewBag.Headtitle = "線上商店 | 加入會員";
    ViewBag.HeadtitleSmall = "歡迎! 歡迎加入這個網站的會員";
    ViewBag.background = Url.Content("~/images/LoginBanner.jpg");
    ViewBag.background4K = Url.Content("~/images/LoginBanner4K.jpg");
    Layout = "~/Views/Shared/_GolbalLayout.cshtml";
    ViewData["Title"] = "加入會員";
}

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <hr />
    <h4>只要填寫這些資料就可以囉，謝謝!</h4>
    <hr />
    <!--<div asp-validation-summary="All" class="text-danger"></div>-->
    <div class="form-group">
        <label asp-for="UserName" class="col-md-2 control-label">會員名稱</label>
        <div class="col-md-10">
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label">會員Email</label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label">密碼</label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <p><small>密碼至少需要五個字長</small></p>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label">確認密碼</label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">註冊</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
