@{
    ViewBag.Title = "實體店地址";
    ViewBag.Headtitle = "實體店地址";
    ViewBag.HeadtitleSmall = "歡迎! 歡迎來我們的實體店參觀";
    ViewBag.background = Url.Content("~/images/StoreBanner.jpg");
    ViewBag.background4k = Url.Content("~/images/StoreBanner4k.jpg");
    Layout = "~/Views/Shared/_GolbalLayout.cshtml";
}

<!--<section>
    <hr />
    <div class="Stores">
        <h1>艾蘭哥爾咖啡總店</h1>
        <hr class="Detail" />
        <h4>周一~周五 9:00-18:00</h4>
        <h4>台東縣台東市勝利街109號</h4>
        <h4>電話:08 932 2246</h4>
        <hr class="Detail" />
    </div>
    <hr />
    <div class="Stores">
        <h1>艾蘭哥爾藝文咖啡館</h1>
        <hr class="Detail" />
        <h4>週二~周日 9:00-18:00</h4>
        <h4>台東縣台東市浙江路350號</h4>
        <h4>電話:08 933 5123</h4>
        <hr class="Detail" />
    </div>
    <hr />
</section>
    -->

<style>
    .Detail {
        border: 0;
        background-color: grey;
        height: 3px;
        width: 150px;
    }

    .Stores{
        margin-top:5px;
        margin-bottom:5px;
        text-align:center;
    }

    .Stores h1{
        color:saddlebrown;
    }
</style>