@model ChangePasswordViewModel
@{
    ViewBag.Title = "修改密碼";
    ViewBag.Headtitle = "修改密碼";
    ViewBag.background = Url.Content("~/images/LoginBanner.jpg");
    ViewBag.background4K = Url.Content("~/images/LoginBanner4K.jpg");
    Layout = "~/Views/Shared/_GolbalLayout.cshtml";
}

<h2>更改現在的密碼</h2>

<form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal">
    <hr />
    <div class="form-group">
        <label asp-for="OldPassword" class="col-md-2 control-label">請輸入舊的密碼</label>
        <div class="col-md-10">
            <input asp-for="OldPassword" class="form-control" />
            <span asp-validation-for="OldPassword" class="text-danger">請輸入舊的密碼</span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="col-md-2 control-label">新的密碼</label>
        <div class="col-md-10">
            <input asp-for="NewPassword" class="form-control" />
            <p><small>需要英文大小寫和一個特殊符號，至少六個字長</small></p>
            <span asp-validation-for="NewPassword" class="text-danger">請輸入新的密碼</span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label">確認新密碼(請再打一次新密碼)</label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger">請再打一次新密碼</span>
        </div>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">更改密碼</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
